@charset "utf-8";
/* CSS Document */

body {
	overflow: hidden;
	font-family: "Arial Narrow", Arial, sans-serif;
}

#backgroundMovie {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	z-index: -99;
}


#pattern {
	position: fixed;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAS0lEQVQYV2NkwAT/oUKMyFIoHAYGBpAimBgyGy4I0owiATUNLoZVN5prwIpBCrGZhO7y/yQpxOU+mKlwq1EEsLkPJEZW8CCbjGEIAFyAEgka3Y6YAAAAAElFTkSuQmCC) repeat;
	min-width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	z-index: -50;
}

#logoBL {
	position: relative;
	top: 45px;
	width: 352px;
	height: 71px;
	margin: 0 auto;
	z-index: 3;
}

#ping {
	position: fixed;
	background-color: #f5f5f5;
	border-radius: 5px;
	width: 120px;
	opacity: 0.7;
	bottom: 30px;
	left: 25px;
	text-align: left;
	padding: 10px;
	z-index: 5;
}

#tiles {
	position: relative;
	top: 75px;
	width: 600px;
	height: 400px;
	margin: 0 auto;
	opacity: 0.9;
}

.games-tiles {
	padding: 5px;
}

.changetip_tipme_button {
	position: fixed;
	top: 10px;
	left: 10px;
}

#credits {
	position: fixed;
	right: 30px;
	bottom: 20px;
	color: #f5f5f5;
	text-shadow: #333 1px 1px 1px;
}

a {
	text-decoration: none;
	color: #0C0;
}

a:hover {
	text-decoration: underline;
}

.icon {
	width: 16px;
	height: 16px;
}

#about-container {
	position: relative;
	margin: 0 auto;
	color: #111;
	background-color: #CCC;
	opacity: 0.9;
	border-radius: 5px;
	width: 600px;
	height: 700px
	padding: 30px;
	font-size: 18px;
	top: 100px;	
}

h2 {
	font-size: 32px;
}

i {
	font-size: 13px;
	font-style: italic;
}

.about-text {
	position: relative;
	height: 95%;
	width: 550px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

.about-ref {
	color: #F00;
}